.filters {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 20px;

}
.filters .filter {
  width: 9rem;
}
.filters select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23666' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 12px;
}