.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: poppins, sans-serif;
}

.header-buttons button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.orange-btn {
  background-color: #ff9800;
}

.orange-btn:hover {
  background-color: #e68a00;
}

.blue-btn {
  background-color: #3f51b5;
}

.blue-btn:hover {
  background-color: #354496;
}
